Final_Gotenberg.json
{
  "name": "Final_Gotenberg",
  "nodes": [
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "=html",
        "options": {
          "fileName": "index.html"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        3680,
        2592
      ],
      "id": "88243f11-e82f-490d-b7d9-b959d79aac31",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "sendTo": "maggieapdump@gmail.com",
        "subject": "=Sales Report",
        "message": "={{ \"<div style='font-family: \\\"Trebuchet MS\\\", sans-serif;'>\" +\n\"Good day, Ma’am/Sir,<br><br>\" +\n\"The automated sales report has been processed and is attached.<br>\" +\n\"Please review the attached file for comprehensive details.<br><br>\" +\n\"Best regards,<br>\" +\n\"Sales Operations\" +\n\"</div>\"\n}}",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "={{ $node[\"Tracking Dates and Getting Totals\"].json[\"reportType\"] }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        4320,
        2592
      ],
      "id": "de9bc144-ee99-4f5e-82d9-d4cd4504a092",
      "name": "Send a message",
      "webhookId": "d45c8cb9-0ab2-4dc7-ba8b-f1e61347f232",
      "credentials": {
        "gmailOAuth2": {
          "id": "9mmemdeUhuW1xN1V",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1616,
        2592
      ],
      "id": "664e59e8-ce7a-4511-abf4-97fe41877981",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.reportMode }}",
                    "rightValue": "Daily",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d78743ee-8495-42eb-9dd2-572de08aad32"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Daily"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e818c6cb-b773-42f4-a22c-bf8cf5ac1f05",
                    "leftValue": "={{ $json.reportMode }}",
                    "rightValue": "Weekly",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Weekly"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "56bdffe8-0fc1-4cd0-9d32-cabea818e6af",
                    "leftValue": "={{ $json.reportMode }}",
                    "rightValue": "Monthly",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Monthly"
            }
          ]
        },
        "options": {
          "allMatchingOutputs": false
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        2480,
        2576
      ],
      "id": "0d609bc8-0c8b-478a-8394-fbc5b2e9315a",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "const now = new Date(); // Assume this is Friday, April 3\nconst dayOfWeek = now.getDay(); // This will be 5 (Friday)\n\n// Calculate the distance to Monday (Monday is 1)\nconst distanceToMonday = dayOfWeek - 1; // 5 - 1 = 4 days\n\nconst thisMonday = new Date(now);\nthisMonday.setDate(now.getDate() - distanceToMonday); // 3rd minus 4 = March 30\nthisMonday.setHours(0, 0, 0, 0);\n\nconst todayEnd = new Date(now);\ntodayEnd.setHours(23, 59, 59, 999); // April 3, 23:59\n\nreturn items.filter(item => {\n  const d = new Date(item.json.Date);\n  return d >= thisMonday && d <= todayEnd;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2864,
        2592
      ],
      "id": "a07e3824-eede-4080-8e29-c17d4c84ac0f",
      "name": "WeeklyFilter"
    },
    {
      "parameters": {
        "jsCode": "// Monthly Logic: Filter for the current month\nconst now = new Date();\nconst currentMonth = now.getMonth();\nconst currentYear = now.getFullYear();\n\nconst filtered = items.filter(item => {\n  const d = new Date(item.json.Date);\n  return d.getMonth() === currentMonth && d.getFullYear() === currentYear;\n});\n\nreturn filtered;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2864,
        2736
      ],
      "id": "e3283e4d-ff77-4f8e-a9cc-354e8bad1989",
      "name": "MonthlyFilter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "12f366ac-618c-482f-b893-52c22c26ed49",
              "leftValue": "={{ $json.Date }}",
              "rightValue": "={{ $now.format('yyyy-MM-dd') }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "49bc8373-05aa-43c9-9bc1-5251f8e46d16",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "e6f879db-e591-470f-82a3-c3ad57ec852f",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        2864,
        2448
      ],
      "id": "07e85e13-44d2-484c-8f07-6d99c0cb9311",
      "name": "DailyFilter"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "destinationKey": "signatureBase64",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        2064,
        2352
      ],
      "id": "60aad55c-6192-4449-a3d6-735477e516ed",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1RVWSJbgYcuvqfVwFmSOfmMrLZI6GMzn3cGn2W8g5KL8",
          "mode": "list",
          "cachedResultName": "Finance_Tidal_Orig",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RVWSJbgYcuvqfVwFmSOfmMrLZI6GMzn3cGn2W8g5KL8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet3",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1872,
        2592
      ],
      "id": "28ecbc54-505a-44f0-83d4-cbbb22c5dbf2",
      "name": "Get row(s) in Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EHFjn0VFFZkwJoXD",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "url": "https://drive.google.com/uc?export=download&id=1lDLrRV0X4KUdBuD1f_MveHINEAJ5b4nJ",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1872,
        2352
      ],
      "id": "0becf01a-734b-4ed5-92d6-6ec43031371b",
      "name": "GetESignFromDrive"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a4c2c501-86a1-4c78-8e27-087d34290bc0",
              "name": "signatureBase64",
              "value": "={{ $json.signatureBase64 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2240,
        2352
      ],
      "id": "a74e8c56-a63c-4502-9cc1-36c53778a126",
      "name": "JsonSign"
    },
    {
      "parameters": {
        "jsCode": "// Get current UTC time and convert to Philippine Time (+8 hours)\n\nconst now = new Date();\nconst phtTime = new Date(now.getTime() + (8 * 60 * 60 * 1000));\n\nconst day = phtTime.getUTCDay();   // 0=Sun, 1=Mon, ..., 5=Fri\nconst hour = phtTime.getUTCHours(); \nconst date = phtTime.getUTCDate();\n\n//Last day of month\nconst lastDayOfMonth = new Date(phtTime.getUTCFullYear(), phtTime.getUTCMonth() + 1, 0).getDate();\n\nlet reportModes = [];\n\n// 1. DAILY: Mon-Fri at 5 PM (17:00)\nif (day >= 1 && day <= 5 && hour === 17) {\n  reportModes.push(\"Daily\");\n}\n\n// 2. WEEKLY: Friday at 5 PM (17:00)\nif (day === 5 && hour === 17) {\n  reportModes.push(\"Weekly\");\n}\n\n// 3. MONTHLY: Last day of Month at 5PM\nif (date === lastDayOfMonth && hour === 17) {\n  reportModes.push(\"Monthly\");\n}\n\nreturn reportModes.flatMap(mode => {\n  return items.map(item => ({\n    json: {\n      ...item.json,\n      reportMode: mode \n    }\n  }));\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2064,
        2592
      ],
      "id": "8f263d13-1cda-4520-8031-1cf6b7d065cd",
      "name": "Report Mode "
    },
    {
      "parameters": {
        "jsCode": "// 1. Check if we have data\nif (items.length === 0) {\n  return [{\n    json: {\n      reportType: \"No Data\",\n      dateRange: \"N/A\",\n      totals: { Leads: 0, Calls: 0, Appointments: 0, Sales: 0, Revenue: 0 },\n      rows: []\n    }\n  }];\n}\n\n// 2. Identify the report type and prepare date range\nconst reportType = items[0].json.reportMode || 'Sales';\nlet totals = { Leads: 0, Calls: 0, Appointments: 0, Sales: 0, Revenue: 0 };\nlet dateRange = \"\";\n\nconst now = new Date();\nconst monthNames = [\"January\", \"February\", \"March\", \"April\", \"May\", \"June\", \"July\", \"August\", \"September\", \"October\", \"November\", \"December\"];\n\n// 3. Generate Date Label based on your NEW Friday-to-Friday filter logic\nif (reportType === \"Daily\") {\n    dateRange = now.toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' });\n} else if (reportType === \"Weekly\") {\n    // Today is Friday (April 3), so we go back 4 days to get Monday (March 30)\n    const thisMonday = new Date(now);\n    thisMonday.setDate(now.getDate() - 4);\n    \n    // Friday is Today (April 3)\n    const thisFriday = new Date(now);\n\n    dateRange = `${monthNames[thisMonday.getMonth()]} ${thisMonday.getDate()} - ${monthNames[thisFriday.getMonth()]} ${thisFriday.getDate()}, ${thisFriday.getFullYear()}`;\n} else if (reportType === \"Monthly\") {\n    dateRange = `${monthNames[now.getMonth()]} ${now.getFullYear()}`;\n}\n\n\n// 4. Clean the rows and sum up the totals\nconst cleanRows = items.map(item => {\n  const row = { ...item.json };\n  \n  // Remove the routing column so it doesn't show in the table\n  delete row.reportMode;\n  delete row.signatureBase64;\n\n  // Sum totals\n  totals.Leads += Number(row.Leads || 0);\n  totals.Calls += Number(row.Calls || 0);\n  totals.Appointments += Number(row.Appointments || 0);\n  totals.Sales += Number(row.Sales || 0);\n  totals.Revenue += Number(row.Revenue || 0);\n\n  return row;\n});\n\n// To access the signature from the Merge node's second input (index 1)\nconst signatureData = $('JsonSign').first().json.signatureBase64 || \"\";\n// 5. Pass everything to the HTML // 5. Final Return (The Fixed Block)\nreturn [{\n  json: {\n    reportType: reportType,\n    dateRange: dateRange,\n    totals: totals,\n    rows: cleanRows,\n    signatures: [\n      {\n        salesName: \"John Smith\",\n        signature: `data:image/png;base64,${signatureData}`\n      }\n    ]\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3296,
        2592
      ],
      "id": "9943e463-e5d3-4ebd-a1f6-59a6b1b73687",
      "name": "Tracking Dates and Getting Totals"
    },
    {
      "parameters": {
        "jsCode": "const { reportType, totals, rows, dateRange, signatures } = items[0].json;\n\n// Get the specific signature data from the first object in the array\nconst signature = signatures[0].signature; \nconst salesName = signatures[0].salesName;\n\n\n// 1. Map the clean rows into HTML <tr> strings\nconst rowsHtml = rows.map(row => `\n  <tr>\n    <td>${row.Date || '-'}</td>\n    <td>${row.Leads || 0}</td>\n    <td>${row.Calls || 0}</td>\n    <td>${row.Appointments || 0}</td>\n    <td>${row.Sales || 0}</td>\n    <td>${Number(row.Revenue || 0).toLocaleString()}</td>\n  </tr>\n`).join('');\n\n// 2. Create the bold total row\nconst totalRowHtml = `\n  <tr style=\"font-weight:bold; background:#f2f2f2;\">\n    <td>TOTAL</td>\n    <td>${totals.Leads}</td>\n    <td>${totals.Calls}</td>\n    <td>${totals.Appointments}</td>\n    <td>${totals.Sales}</td>\n    <td>${totals.Revenue.toLocaleString()}</td>\n  </tr>\n`;\n\n// 3. The Final Design Template\nconst html = `\n<!DOCTYPE html>\n<html>\n<head>\n<style>\n  html, body { \n    height: 100%; \n    margin: 0; \n  }\n  \n  body { \n    font-family: 'Trebuchet MS', Arial, sans-serif; \n    padding: 20px; \n    color: #333; \n    display: flex; \n    flex-direction: column; \n    box-sizing: border-box;\n  }\n  \n  .header-container { \n    display: flex; \n    justify-content: space-between; \n    align-items: flex-start; \n    border-bottom: 2px solid #000; \n    padding-bottom: 10px; \n    margin-bottom: 20px;\n  }\n  .brand-left h1 { margin: 0; font-size: 36px; font-weight: bold; color: #008442; }\n  .brand-left p { margin: 0; font-size: 14px; text-transform: uppercase; letter-spacing: 1px; }\n  \n  .address-right { text-align: right; font-size: 12px; line-height: 1.4; color: #000; }\n  .address-right strong { font-size: 12px; }\n\n  h2 { text-align:center; color: #000; text-transform: uppercase; margin-top: 0.5in; margin-bottom: 5px; }\n  .report-date { text-align: center; font-size: 16px; margin-bottom: 10px; color: #000; }\n\n  table { width:100%; border-collapse:collapse; margin-top:0px; page-break-inside: auto; }\n  tr { page-break-inside: avoid; page-break-after: auto; }\n  th, td { border:1px solid #000; padding:10px; text-align:center; }\n  th { background:black; color:white; text-transform: uppercase; font-size: 16px; }\n\n  /* LAST PAGE SIGNATURE - MULTI-PAGE COMPATIBLE */\n  .signature-wrapper {\n    margin-top: 0.5in; \n    text-align: center;\n    width: 100%;\n    break-inside: avoid; /* Keeps the signature image and name together */\n  }\n  \n  .signature-line {\n    border-top: 1.5px solid #000;\n    width: 250px;\n    margin: 0 auto 5px auto;\n  }\n  \n  .signature-title {\n    font-size: 16px;\n    font-weight: bold;\n    text-transform: uppercase;\n  }\n</style>\n</head>\n<body>\n\n  <!-- Content section -->\n  <div class=\"content\">\n    <div class=\"header-container\">\n      <div class=\"brand-left\">\n        <h1>PHILCARE</h1>\n        <p>Healthcare Made Smarter</p>\n      </div>\n      <div class=\"address-right\">\n        <strong>STI Holdings Center</strong><br>\n        6764 Ayala Avenue,<br>\n        Makati City\n      </div>\n    </div>\n\n    <h2>${reportType} Sales Report</h2>\n    <div class=\"report-date\">${dateRange}</div>\n\n    <table>\n      <thead>\n        <tr>\n          <th>Date</th>\n          <th>Leads</th>\n          <th>Calls</th>\n          <th>Appointments</th>\n          <th>Sales</th>\n          <th>Revenue</th>\n        </tr>\n      </thead>\n      <tbody>\n        ${rowsHtml}\n        ${totalRowHtml}\n      </tbody>\n    </table>\n  </div>\n\n  <div class=\"signature-wrapper\" style=\"text-align: center; margin-top: 0.5in; page-break-inside: avoid;\">\n  \n    <!-- Increased negative margin to -46px to move name 1/4 inch closer -->\n    <div style=\"margin-bottom: -66px; position: relative; z-index: 2;\">\n      <img src=\"${signature}\" \n           style=\"width: 180px; height: auto; display: block; margin: 0 auto; min-height: 50px;\" />\n    </div>\n  \n    <!-- The Name (acting as the underline) -->\n    <div style=\"font-weight: bold; \n                font-size: 18px; \n                text-transform: uppercase; \n                border-bottom: 2px solid black; \n                display: inline-block; \n                min-width: 250px; \n                padding-bottom: 2px;\n                position: relative;\n                z-index: 1;\">\n      ${salesName}\n    </div>\n  \n    <div style=\"font-size: 14px; text-transform: uppercase; margin-top: 8px;\">\n      Sales Officer\n    </div>\n\n  </div>\n\n\n\n</body>\n</html>`;\n\nreturn [{\n  json: {\n    reportType,\n    html\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3488,
        2592
      ],
      "id": "87a14c08-39a6-4da0-91c0-8857147be7c6",
      "name": "Report Design"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:3010/forms/chromium/convert/html",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Gotenberg-Output-Filename",
              "value": "={{ $node[\"Tracking Dates and Getting Totals\"].json[\"reportType\"] }}_Report"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "index.html",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "file",
              "outputPropertyName": "={{ $node[\"Tracking Dates and Getting Totals\"].json[\"reportType\"] }}"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3888,
        2592
      ],
      "id": "4f98cc23-28a9-4680-9dbf-9fbffdedd428",
      "name": "Gotenberg"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "",
        "options": {
          "includeBinaries": true
        }
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        4112,
        2592
      ],
      "id": "ccb420a4-aa17-46f5-8dff-1fae5670cbcc",
      "name": "Aggregate for All Needed Reports"
    }
  ],
  "pinData": {},
  "connections": {
    "Convert to File": {
      "main": [
        [
          {
            "node": "Gotenberg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "GetESignFromDrive",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "DailyFilter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WeeklyFilter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MonthlyFilter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WeeklyFilter": {
      "main": [
        [
          {
            "node": "Tracking Dates and Getting Totals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MonthlyFilter": {
      "main": [
        [
          {
            "node": "Tracking Dates and Getting Totals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DailyFilter": {
      "main": [
        [
          {
            "node": "Tracking Dates and Getting Totals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "JsonSign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in Sheet": {
      "main": [
        [
          {
            "node": "Report Mode ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetESignFromDrive": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JsonSign": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Report Mode ": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tracking Dates and Getting Totals": {
      "main": [
        [
          {
            "node": "Report Design",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Report Design": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gotenberg": {
      "main": [
        [
          {
            "node": "Aggregate for All Needed Reports",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate for All Needed Reports": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "80da56d8-cdf6-49ec-829a-d478653dddfa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9a467faaf2db039a7c4b7f2945de30ea150f65942f71821fd0eb089aac44d00b"
  },
  "id": "MZpxoqMXO1M98DPA",
  "tags": []
}